/* TITLE SECTION */
#title-section {
    background-position: center;
    background-image: linear-gradient(-125deg, #2C3E50 0%, #4CA1AF 51%, #7474BF 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-backgournd-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
#title-section .container{
    color: white;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 60px;
    position: relative;
}

/* TABLE OF CONTENTS */
#toc {
    border: solid var(--c-primary) 1px;
    border-radius: 8px;
    margin: 0 5% 0 5%;
}
#toc #toc-toggler {
    color: var(--c-secondary-text);
    font-size: 28px;
    text-align: center;
    padding: 20px 0px;
    cursor: pointer;
}
#toc #toc-toggler:hover {
    color: var(--c-primary);
}
#toc i {
    margin: 5px;
}
.rotate {
    transform: rotate(0deg);
    transition: .2s;
}
.rotate2 {
    transform: rotate(-180deg);
    transition: .2s;
}

#toc hr {
    width: 60%;
    margin-top: 0px;
}
#toc #toc-content {
    text-align: left;
    overflow: hidden;
}
#toc ol li {
    color: var(--c-secondary-text);
    list-style-type: upper-greek;
    line-height: 1.5;
    padding-left: 10px;
}
#toc li ol li {
    color: var(--c-secondary-text);
    list-style-type: upper-roman;
    line-height: 1.5;
    padding-left: 10px;
}

/* NOTES */
article .section-wrapper li {
    margin: 10px 0;
}