:root {
    /* Primary Colors */
    --c-primary-1: #19283c;
    --c-primary-2: #1f3551;
    --c-primary-3: #84a9ac;
    --c-primary-4: #e4e3e3;

    /* Accent Color */
    --c-accent: #f6c054;

    /* Text Colors */
    --c-primary-text: #cad7e9;
    --c-secondary-text: #b3c1d4;

    /* Font Sets */
    --font-normal: "Avenir", "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    --font-monospace: "Menlo", Courier, monospace;

    /* Navbar Height */
    --topnav-height: 64px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--c-primary-text);
    font-family: var(--font-normal);
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--c-primary-1);
    margin: 0;
}

/* Font Styles */

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }
}

h2 {
    font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
    h2 {
        font-size: 2rem;
    }
}

h3 {
    font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
    h3 {
        font-size: 1.75rem;
    }
}

h4 {
    font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
    h4 {
        font-size: 1.5rem;
    }
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* Container Styles */

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

/* Main Content Area Styles */

main.content {
    padding-top: calc(var(--topnav-height) + 15px);
}