/* Colors */
:root {
    --c-primary-50: #F5F7FA;
    --c-primary-100: #E4E7EB;
    --c-primary-200: #CBD2D9;
    --c-primary-300: #9AA5BA;
    --c-primary-400: #7B8794;
    --c-primary-500: #61637C;
    --c-primary-600: #52606D;
    --c-primary-700: #3E4C59;
    --c-primary-800: #323F4B;
    --c-primary-900: #1F2933;
    /* Primary Color */
    --c-primary-50: #e2eafa;
    --c-primary-100: #bcccde;
    --c-primary-200: #97a8be;
    --c-primary-300: #7287a0;
    --c-primary-400: #586f8b;
    --c-primary-500: #3d5876;
    --c-primary-600: #314b66;
    --c-primary-700: #223a51;
    --c-primary-800: #14283c;
    --c-primary-900: #031626;
    /* Text Colors */
    --c-primary-text: #e2eafa;
    --c-secondary-text: #97a8be;
    /* Indicator Colors */
    --c-accent: #ffc61d;
    --c-confirm: #00897B;
    --c-warning: #303F9F;
    --c-remove: #C62828;
    --c-help: #673AB7;
}


/* General */
html {
    scroll-behavior: smooth;
}

body {
    color: var(--c-secondary-text);
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    line-height: 1.3;
    background-color: var(--c-primary-900);
    width: 100%;
    padding: 0;
    margin: 0;
}

@media (min-width: 900px) {
    .container {
        max-width: 750px;
    }
}


/* Text */
h1, h2, h3, h4, h5, h6 {
    color: var(--c-primary-text);
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3.25em;
    font-weight: bolder;
}

p {
    color: var(--c-secondary-text);
}

span.highlight {
    color: var(--c-primary-text);
    font-weight: bolder;
}
.code-text {
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}