#home-section {
    height: 100vh;
}

    #home-section .container {
        padding: 1em 2em;
        position: relative;
        top: 20vh;
    }

    #home-section #resume-link {
        color: var(--c-primary-text);
        background-color: none;
        border: 1px solid var(--c-accent);
        border-radius: 3px;
        padding: 0.5em 1em;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
    }

        #home-section #resume-link:hover {
            color: var(--c-accent);
        }

.sm-links {
    position: absolute;
    bottom: 3vmin;
    left: auto;
    right: 3vmin;
    z-index: 99;
}

@media (min-width: 900px) {
    .sm-links {
        right: auto;
        left: 3vmin;
        display: flex;
        flex-direction: column;
    }
}

    .sm-links .sm-btn {
        margin: 10px 10px;
        color: var(--c-secondary-text);
    }

        .sm-links .sm-btn :hover {
            color: var(--c-accent);
        }
