/* NAVBAR - GENERAL*/
#navbar {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
    width: 100%;
    z-index: 99;
    top: 0;
    position: fixed;
    margin-bottom: -60px;
}

.container {
    padding: 10px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1100px;
    }
}

/* Sticky Effect */
.non-sticky, .non-sticky .container {
    background-color: var(--c-primary-900);
    transition: all ease-in-out 0.4s;
}

.sticky, .sticky .container {
    background-color: var(--c-primary-800);
    transition: all ease-in-out 0.4s;
}


/* Brand */
.navbar-brand, .navbar-brand:hover {
    color: var(--c-primary-text);
    padding: 3px 10px;
    border-left: 2px solid var(--c-accent);
    border-right: 2px solid var(--c-accent);
}


/* Toggler Icon */
.navbar-toggler {
    z-index: 99;
}

.icon-bar {
    height: 2px;
    background-color: var(--c-accent);
    margin-top: 5px;
    transition: all 0.3s;
    display: block;
    position: relative;
    left: 0px;
    z-index: 99;
}

.navbar-toggler .top-bar {
    width: 22px;
    transform: rotate(-45deg);
    transform-origin: 95% 95%;
}

.navbar-toggler .mid-bar {
    width: 22px;
    opacity: 0;
}

.navbar-toggler .bot-bar {
    width: 22px;
    transform: rotate(45deg);
    transform-origin: 95% 5%;
}

.navbar-toggler.collapsed .top-bar {
    width: 22px;
    transform: rotate(0);
}

.navbar-toggler.collapsed .mid-bar {
    left: 5px;
    width: 17px;
    opacity: 1;
}

.navbar-toggler.collapsed .bot-bar {
    left: 12px;
    width: 10px;
    transform: rotate(0);
}


/* Links */
.nav-link {
    color: white;
    text-align: center;
    margin: 5px 10px;
    font-size: 1.25em;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}

    .nav-link:hover,
    .nav-link:focus {
        color: var(--c-accent);
    }


/* Sliding Menu */
@media (max-width: 578px) {
    .collapse.navbar-collapse.show {
        background-color: inherit;
        height: 100vh;
        transition: all 0.4s ease-in-out;
    }
}
