:root {
    /* Primary Color */
    --c-primary-50: #e2eafa;
    --c-primary-100: #bcccde;
    --c-primary-200: #97a8be;
    --c-primary-300: #7287a0;
    --c-primary-400: #586f8b;
    --c-primary-500: #3d5876;
    --c-primary-600: #314b66;
    --c-primary-700: #223a51;
    --c-primary-800: #14283c;
    --c-primary-900: #031626;
    /* Text Colors */
    --c-primary-text: #e2eafa;
    --c-secondary-text: #97a8be;
}

/* General */
html {
    scroll-behavior: smooth;
}

body {
    color: var(--c-secondary-text);
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    line-height: 1.3;
    background-color: var(--c-primary-900);
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Text */
h1, h2, h3, h4, h5, h6 {
    color: var(--c-primary-text);
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 3.25em;
    font-weight: bolder;
}
p {
    color: var(--c-secondary-text);
}
main {
    margin: 100px auto;
    left: auto;
}

#interactive {
    padding: 0;
    width: auto;
    border-radius: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.charges {
    background-color: var(--c-primary-700);
    border-radius: 15px 15px 0px 0px;
    text-align: center;
    padding: 10px 20px;
}
    .spacer {
        margin: auto 30px;
    }
    .generator {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        padding: 0;
    }
    .reset-btn {
        float: right;
        vertical-align: middle;
        cursor: pointer;
    }
    .proton, .electron, .charge-wrapper {
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        margin: 0;
        padding: 0;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        cursor: pointer;
    }
    .proton {
        background-color: FireBrick;
    }
    .electron {
        background-color: SteelBlue;
    }

#field {
    background-color: var(--c-primary-800);
    border-radius: 0px 0px 15px 15px;
    height: 700px;
    background-image:
        repeating-linear-gradient(var(--c-primary-600) 0 1px, transparent 1px 100%),
        repeating-linear-gradient(90deg, var(--c-primary-700) 0 1px, transparent 1px 100%);
    background-size: 20px 20px;
}

#visualize-section {
    text-align: center;
}
#output-btn {
    color: var(--c-primary-text);
    text-align: center;
    background-color: transparent;
    border: 2px solid var(--c-primary-600);
    border-radius: 5px;
    cursor: pointer;
    padding: 6px 9px;
    margin: 45px auto;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s ease-in-out;
}
#output-btn:hover {
    background-color: var(--c-primary-600);
    transition: all 0.3s ease-in-out;
}

#graph {
    height: 70vh;
}