/* Code Formatting */
code {
    font-family: var(--font-monospace);
    background-color: var(--c-primary-2);
}

.code-block {
    font-family: var(--font-monospace);
    background-color: var(--c-primary-2);
    border-radius: 15px;
}

.code-block-header {
    color: var(--c-primary-text);
    background-color: var(--c-primary-3);
    padding: 15px 25px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.code-block-content {
    padding: 20px 25px 30px 25px;
    overflow-x: auto;
    white-space: nowrap;
}


/* Table of Contents Formatting */
.toc {
    border-radius: 15px;
    background-color: var(--c-primary-2);
}

.toc-header {
    color: var(--c-accent);
    text-align: center;
    background-color: var(--c-primary-2);
    border-radius: 15px;
    padding: 15px 25px;
}

.toc-content {
    padding: 20px 25px 30px 25px;
}

.toc ol li {
    color: var(--c-primary-text);
    list-style-type: upper-greek;
}

.toc li ol li {
    color: var(--c-primary-text);
    list-style-type: upper-roman;
}

.toc a {
    color: var(--c-secondary-text);
}

