@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
  url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
  url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "SourceCodePro";
  src: local("SourceCodePro"),
  url("../fonts/SourceCodePro-Regular.ttf") format("truetype");
  font-weight: normal;
}

:root {
  --font-sans-serif: 'Poppins', 'Avenir', Verdana, Helvetica Neue, Arial, sans-serif;
  --font-serif: Palatino, American Typewriter, serif;
  --font-monospace: SourceCodePro, Palatino, Lucida Console, Consolas, Andale Mono, Courier, monospace;

  --c-bg-deeper: hsl(221, 21%, 15%);
  --c-bg: hsl(221, 21%, 22%);
  --c-bg-elevated: hsl(221, 21%, 29%);
  --c-cursor: hsl(219, 28%, 80%);
  --c-text: hsl(219, 28%, 80%);
  --c-text-bold: hsl(219, 28%, 80%);
  --c-text-mute: hsl(219, 18%, 68%);
  --c-selected: hsl(193, 43%, 67%);

  --c-dark-black: hsl(222, 16%, 0%);
  --c-dark-red: hsl(354, 42%, 16%);
  --c-dark-green: hsl(92, 28%, 25%);
  --c-dark-yellow: hsl(40, 71%, 33%);
  --c-dark-blue: hsl(210, 34%, 23%);
  --c-dark-magenta: hsl(311, 20%, 23%);
  --c-dark-cyan: hsl(193, 43%, 27%);
  --c-dark-white: hsl(218, 27%, 52%);

  --c-black: hsl(222, 16%, 28%);
  --c-red: hsl(354, 42%, 56%);
  --c-green: hsl(92, 28%, 65%);
  --c-yellow: hsl(40, 71%, 73%);
  --c-blue: hsl(210, 34%, 63%);
  --c-magenta: hsl(311, 20%, 63%);
  --c-cyan: hsl(193, 43%, 67%);
  --c-white: hsl(218, 27%, 92%);

  --c-bright-black: hsl(220, 16%, 36%);
  --c-bright-red: hsl(354, 42%, 56%);
  --c-bright-green: hsl(92, 28%, 65%);
  --c-bright-yellow: hsl(40, 71%, 73%);
  --c-bright-blue: hsl(210, 34%, 63%);
  --c-bright-magenta: hsl(311, 20%, 63%);
  --c-bright-cyan: hsl(179, 25%, 65%);
  --c-bright-white: hsl(218, 27%, 94%);

  --c-shadow-light: hsla(0, 0%, 0%, 0.05)
}

/* General */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  color: var(--c-text);
  font-family: var(--font-sans-serif);
  font-weight: normal;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  background-color: var(--c-bg-deeper);
  margin: 0;
  padding: 0;
}

/* Fonts */

h1, h2, h3, h4, h5, h6, p, small, pre, code, a, span, label {
  padding: 0;
  margin: 0;
  word-break: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--c-cyan);
  font-family: var(--font-monospace);
  text-rendering: optimizeLegibility;
}

h1::before {
  content: '';
  border: 2px solid var(--c-cyan);
  position: relative;
  margin-right: 10px;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.25rem;
  margin-bottom: 2.25rem;
}

h2 {
  font-size: 1.7rem;
  line-height: 1.7rem;
  margin-bottom: 1.7rem;
}
h3 {
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 1.4rem;
}
h4 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-bottom: 1.2rem;
}
h5 {
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: 1rem;
}
h6 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  margin-bottom: 0.8rem;
}

ul, li {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

p, ul, li {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

small {
  font-size: 0.9rem;
  line-height: 0.9rem;
}

a {
  color: var(--c-blue);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

code {
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: var(--font-monospace);
  background-color: var(--c-bg-elevated);
  border-radius: 5px;
}

.text-blue {
  color: var(--c-blue);
}
.text-cyan {
  color: var(--c-cyan);
}
.text-green {
  color: var(--c-green);
}
.text-magenta {
  color: var(--c-magenta);
}
.text-red {
  color: var(--c-red);
}
.text-white {
  color: var(--c-white);
}
.text-yellow {
  color: var(--c-yellow);
}

