.brand {
  font-weight: bold;
  display: inline;
  margin-right: 15px;
  height: max-content;
}

.brand:hover {
  text-decoration: none;
  filter: drop-shadow(0 0 5px var(--c-cyan));
}

.brand > * {
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all ease-in-out 0.15s;
}
