footer {
  background: var(--c-bg-elevated);
  margin-top: 2rem;
  margin-bottom: 1.45rem;
}

.footer-wrapper {
  text-align: center;
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
}

.footer-title {
  margin: 0;
}

.socials-link {
  text-decoration: none;
  padding: 0 0.5rem;
  cursor: pointer;
}

.socials-link:hover {
  text-decoration: underline;
}
