#navbar {
  font-family: var(--font-monospace);
  background-color: var(--c-bg-elevated);
  padding: 10px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  align-items: center;
}

.nav-wrapper {
  height: 100%;
  margin: auto;
  display: flex;
}

.nav-menu {
  height: auto;
}

.nav-link {
  color: var(--c-bright-blue);
  transition: all ease-in-out 0.15s;
}
.nav-link:hover {
  text-decoration: underline;
  filter: drop-shadow(0 0 1px var(--c-blue));
}
