header {
  background: var(--c-bg-elevated);
  margin-bottom: 1.45rem;
}

.navbar-wrapper {
  margin: 0 auto;
  padding: 15px 30px;
}

.navbar-title {
  margin: 0;
}

.navbar-home-link {
  color: var(--c-blue);
  text-decoration: none;
}
