.terminal-window {
  font-family: var(--font-monospace);
  max-width: 800px;
  max-height: 400px;
  border: 3px solid var(--c-bg-elevated);
  border-radius: 15px;
  background-color: var(--c-bg);
  padding: 60px 0 120px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  overflow: hidden;
}

.terminal-header {
  font-size: 2rem;
  font-family: Menlo, Monaco, "Lucida Console", "Courier New", Courier, monospace;
  text-align: center;
  background: var(--c-bg-elevated);
  width: 100%;
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.terminal-content {
  font-size: 1.15rem;
  padding: 30px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.terminal-title {
  font-family: var(--font-monospace);
  margin-bottom: 2.4rem;
}

.typewriter-text {
  color: var(--c-yellow);
  position: relative;
  width: max-content;
  --typewriter-speed: 1s;
}

.typewriter-text::before,
.typewriter-text::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.typewriter-text::before {
  background: var(--c-bg);
  animation: typewriter var(--typewriter-speed) steps(12) 0.5s forwards;
}

.typewriter-text::after {
  width: .125em;
  background: transparent;
  animation: typewriter var(--typewriter-speed) steps(12) 0.5s forwards,
             typeblink 750ms steps(12) 6;
}

@keyframes typewriter {
  to {
    left: 100%
  }
}

@keyframes typeblink {
  to {
    background-color: var(--c-cursor);
  }
}

.about-content {
  opacity: 0;
  transform: translateY(1rem);
  animation: fadeInUp 2s ease 2s forwards;
}

.about-content > p {
  margin-top: 1.2rem;
}

.about-experiences > li {
  list-style-type: none;
}
.about-experiences > li:before {
  content: ">";
  margin-right: 0.5em;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Override header.css styles */

.header-wrapper > * {
  position: absolute !important;
  top: auto !important;
  bottom: 0;
}
