:root {
  --font-sans-serif: Verdana, Helvetica Neue, Arial, Courier, sans-serif;
  --font-serif: Palatino, American Typewriter, serif;
  --font-monospace: Lucida Console Consolas, Andale Mono, Courier, monospace;

  --c-bg-deeper: hsl(218, 16%, 16%);
  --c-bg: hsl(220, 16%, 22%);
  --c-bg-elevated: hsl(222, 16%, 28%);
  --c-cursor: hsl(219, 28%, 88%);
  --c-text: hsl(219, 28%, 88%);
  --c-text-bold: hsl(219, 28%, 88%);
  --c-text-mute: hsl(219, 18%, 68%);
  --c-selected: hsl(193, 43%, 67%);
  --c-black: hsl(222, 16%, 28%);
  --c-red: hsl(354, 42%, 56%);
  --c-green: hsl(92, 28%, 65%);
  --c-yellow: hsl(40, 71%, 73%);
  --c-blue: hsl(210, 34%, 63%);
  --c-magenta: hsl(311, 20%, 63%);
  --c-cyan: hsl(193, 43%, 67%);
  --c-white: hsl(218, 27%, 92%);
  --c-bright-black: hsl(220, 16%, 36%);
  --c-bright-red: hsl(354, 42%, 56%);
  --c-bright-green: hsl(92, 28%, 65%);
  --c-bright-yellow: hsl(40, 71%, 73%);
  --c-bright-blue: hsl(210, 34%, 63%);
  --c-bright-magenta: hsl(311, 20%, 63%);
  --c-bright-cyan: hsl(179, 25%, 65%);
  --c-bright-white: hsl(218, 27%, 94%);

  --c-shadow-light: hsla(0, 0%, 0%, 0.05)
}

/* General */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  color: var(--c-text);
  font-family: var(--font-sans-serif);
  font-weight: normal;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  background-color: var(--c-bg-deeper);
  margin: 0;
  padding: 0;
}

main {
  padding-top: 90px;
}

/* Fonts */

h1, h2, h3, h4, h5, h6, p, small, pre, code, a, span, label {
  padding: 0;
  margin: 0;
  word-break: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--c-cyan);
  font-family: var(--font-monospace);
  text-rendering: optimizeLegibility;
}

h1::before {
  content: '';
  border: 2px solid var(--c-cyan);
  position: relative;
  margin-right: 10px;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.25rem;
  margin-bottom: 2.25rem;
}

h2 {
  font-size: 1.7rem;
  line-height: 1.7rem;
  margin-bottom: 1.7rem;
}
h3 {
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 1.4rem;
}
h4 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-bottom: 1.2rem;
}
h5 {
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: 1rem;
}
h6 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  margin-bottom: 0.8rem;
}

p {
  font-size: 1rem;
  line-height: 1.25rem;
}

.markdown p {
  margin-bottom: 1.25rem;
}

small {
  font-size: 0.85rem;
  line-height: 0.85rem;
}

a {
  color: var(--c-blue);
  font-size: 1rem;
  line-height: 1.25rem;
  text-decoration: none;
}

code {
  font-family: var(--font-monospace);
  background-color: var(--c-bg-elevated);
  border-radius: 3px;
}

.text-blue {
  color: var(--c-blue);
}
.text-cyan {
  color: var(--c-cyan);
}
.text-green {
  color: var(--c-green);
}
.text-magenta {
  color: var(--c-magenta);
}
.text-red {
  color: var(--c-red);
}
.text-white {
  color: var(--c-white);
}
.text-yellow {
  color: var(--c-yellow);
}

/* divs */

.container {
  background-color: var(--c-bg);
  padding: 2rem 1rem;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 2rem 3rem;
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 2rem 5rem;
    max-width: 1140px;
  }
}
