:root {
  --font-sans-serif: Verdana, Helvetica Neue, Arial, Courier, sans-serif;
  --font-serif: Palatino, American Typewriter, serif;
  --font-monospace: Courier, monospace;

  --c-text-dark: hsla(0, 0%, 0%, 0.8);
  --c-text-light: hsla(0, 0%, 100%, 1);
  --c-text-link: hsla(0, 0%, 50%, 1);
  --c-text-muted: hsla(0, 0%, 50%, 1);
  --c-text-accent: hsla(208, 70%, 49%, 1);

  --c-accent: hsla(208, 70%, 49%, 1);

  --c-shadow-light: hsla(0, 0%, 0%, 0.05)
}

/* General */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  padding: 0;
  color: var(--c-text-dark);
  font-family: var(--font-sans-serif);
  font-weight: normal;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}

/* Fonts */

h1, h2, h3, h4, h5, h6, p, pre, code, a, span, label {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.25rem;
}

h2 {
  font-size: 1.62671rem;
  line-height: 1.62671rem;
}
h3 {
  font-size: 1.38316rem;
  line-height: 1.38316rem;
}
h4 {
  font-size: 1rem;
  line-height: 1rem;
}
h5 {
  font-size: 0.85028rem;
  line-height: 0.85028rem;
}
h6 {
  font-size: 0.78405rem;
  line-height: 0.78405rem;
}

p {
  font-size: 1rem;
  line-height: 1rem;
}

a {
  font-size: 1rem;
  line-height: 1rem;
  color: var(--c-text-link);
  text-decoration: none;

}

code {
  font-family: var(--font-monospace);
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
}

/* divs */

.container {
  margin: 0 auto;
  max-width: 960px;
}
