:root {
  --font-sans-serif: Verdana, Helvetica Neue, Arial, Courier, sans-serif;
  --font-serif: Palatino, American Typewriter, serif;
  --font-monospace: Lucida Console Consolas, Andale Mono, Courier, monospace;

  --c-bg: hsl(220, 16%, 22%);
  --c-bg-elevated: hsl(222, 16%, 28%);
  --c-cursor: hsl(219, 28%, 88%);
  --c-text: hsl(219, 28%, 88%);
  --c-text-bold: hsl(219, 28%, 88%);
  --c-text-mute: hsl(219, 28%, 68%);
  --c-selected: hsl(193, 43%, 67%);
  --c-black: hsl(222, 16%, 28%);
  --c-red: hsl(354, 42%, 56%);
  --c-green: hsl(92, 28%, 65%);
  --c-yellow: hsl(40, 71%, 73%);
  --c-blue: hsl(210, 34%, 63%);
  --c-magenta: hsl(311, 20%, 63%);
  --c-cyan: hsl(193, 43%, 67%);
  --c-white: hsl(218, 27%, 92%);
  --c-bright-black: hsl(220, 16%, 36%);
  --c-bright-red: hsl(354, 42%, 56%);
  --c-bright-green: hsl(92, 28%, 65%);
  --c-bright-yello: hsl(40, 71%, 73%);
  --c-bright-blue: hsl(210, 34%, 63%);
  --c-bright-magenta: hsl(311, 20%, 63%);
  --c-bright-cyan: hsl(179, 25%, 65%);
  --c-bright-white: hsl(218, 27%, 94%);

  --c-shadow-light: hsla(0, 0%, 0%, 0.05)
}

/* General */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  color: var(--c-text);
  font-family: var(--font-sans-serif);
  font-weight: normal;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  background-color: var(--c-bg);
  margin: 0;
  padding: 90px 0;
}

/* Fonts */

h1, h2, h3, h4, h5, h6, p, pre, code, a, span, label {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-monospace);
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.25rem;
}

h2 {
  font-size: 1.62671rem;
  line-height: 1.62671rem;
}
h3 {
  font-size: 1.38316rem;
  line-height: 1.38316rem;
}
h4 {
  font-size: 1rem;
  line-height: 1rem;
}
h5 {
  font-size: 0.85028rem;
  line-height: 0.85028rem;
}
h6 {
  font-size: 0.78405rem;
  line-height: 0.78405rem;
}

p {
  font-size: 1rem;
  line-height: 1rem;
}

a {
  font-size: 1rem;
  line-height: 1rem;
  text-decoration: none;
}

code {
  font-family: var(--font-monospace);
  background-color: var(--c-bg-elevated);
  border-radius: 3px;
}

/* divs */

.container {
  margin: 0 auto;
  max-width: 960px;
}
