/** Code Block Styling **/

code[class*="language-"],
pre[class*="language-"],
span.line-numbers-rows {
    font-size: 1rem;
    line-height: 1.3rem;
    font-family: var(--font-monospace);
}

pre[class*="language-"] {
    padding: 1em 1em 1em 2em;
}

span.line-numbers-rows {
    padding: 1em 0 1em 1em;
}
