.grid-layout {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.grid-layout > .card-wrapper {
  margin: 15px;
  flex: 0 0 360px;
}

@media screen and (max-width: 380px){
  .grid-layout > .card-wrapper {
    max-width: 95%;
  }
}
