.card {
  max-width: 360px;
  border-radius: 8px;
  box-shadow: 0 2px 15px 5px var(--c-shadow-light);
  background-color: var(--c-bg);
  margin: 0 auto;
  padding: 15px 15px 30px;
  transition: all ease-in-out 0.15s;
}

.card:hover {
  box-shadow: 0 2px 25px 5px var(--c-shadow-light);
  transform: translateY(-3px);
}

.image {
  width: 100%;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

.title, .desc, .links, .tags {
  margin-top: 15px;
}

.title {
  margin-bottom: 5px;
}

.data {
  color: var(--c-text-mute);
  margin-top: 5px;
}

.icon {
  height: 18px;
  width: 18px;
  margin-right: 10px;
}

.tag {
  font-size: 0.85rem;
  background-color: var(--c-bg-elevated);
  border-radius: 10px;
  padding: 1px 8px;
  margin: 3px;
  display: inline-block;
}
