<div class="social-media">
    <a class="social-media-link" href="https://www.linkedin.com/in/ryomah" target="_blank">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
    <a class="social-media-link" href="https://github.com/hRyoma" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    <a class="social-media-link" href="https://codepen.io/RyomaH" target="_blank">
        <i class="fa fa-codepen" aria-hidden="true"></i>
    </a>
    <a class="social-media-link" href="https://www.instagram.com/ryomaharris" target="_blank">
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
</div>
<div class="text">
    <p>Ryoma Harris 2019</p>
</div>